<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<nav class= "pink ">
        <div class="nav-wrapper">
          <a class="brand-logo" id ="logo" href="/">Sync</a>
          <a class="right"href="/info/new">Profile</a>
          <a class="right"href="/users">Forms</a>
      </nav>
      </head>
      <footer class="page-footer"> </footer>
<body>
        <div class="row">
                <div class="col s12 m12">
                  <div class="card ">
                    <div class="card-content white-text">
                      <span class="card-title">Hola Chica!</span>
                      <p> This is where we will store any information from your general info form !
                        </p>
                    </div>
                   </div>
                  </div>
                </div>
                  <table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Birth Control</th>
      <th> weight</th>
    </tr>
  </thead>
  <tbody>
    <% infos.forEach(function(i) { %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.age %></td>
        <td><%= i.birthControl %></td>
        <td><%= i.weight %></td>
        <td><a href="/info/<%= i._id %>">edit</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>